<?xml version='1.0' encoding='utf-8'?>
<widget id="nz.taicollective.gearshareapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GearShare App</name>
    <description>A Quasar Project</description>
    <author email="team@taicollective.nz" href="https://taicollective.nz">
        Tai Collective Devs
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="about:*" />
     <platform name="android">
        <icon src="res/mipmap-mdpi/gear-share-logo.png" density="mdpi" />
        <icon src="res/mipmap-hdpi/gear-share-logo.png" density="hdpi" />
        <icon src="res/mipmap-xhdpi/gear-share-logo.png" density="xhdpi" />
        <icon src="res/mipmap-xxhdpi/gear-share-logo.png" density="xxhdpi" />
        <icon src="res/mipmap-xxxhdpi/gear-share-logo.png" density="xxxhdpi" />
        <splash src="res/mipmap-mdpi/splash.png" density="mdpi" />
        <splash src="res/mipmap-hdpi/splash.png" density="hdpi" />
        <splash src="res/mipmap-xhdpi/splash.png" density="xhdpi" />
        <splash src="res/mipmap-xxhdpi/splash.png" density="xxhdpi" />
        <splash src="res/mipmap-xxxhdpi/splash.png" density="xxxhdpi" />
    </platform>
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="AutoHideSplashScreen" value="true" />
</widget>
